[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

starlette = "*"
aiokafka = "*"
uvicorn = "*"
requests = "*"
aiofiles = "*"
ujson = "*"
click = "*"
pony = "*"


[dev-packages]

pylint = "*"
black = "*"
isort = "*"
ipython = "*"
pytest = "*"
